.sweet-alert .lead {
  font-size: 18px !important;
}
.dd a
{
    text-decoration: none;
}
.dd-dragel>li>.dd2-handle, .dd2-handle
{
    left: auto !important;
    right: 0 !important;
}
.error
{
	color:red;
}
.add-thumbicon
{
display: inline-block;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    margin-right: 10px;
    margin-left: 0;
    text-shadow: none!important;
    }
/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) {
	.table-lg-input
	{
		width: 100% !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	.table-lg-input
	{
		width: 100% !important;
	}
}
table .sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

table th {
    cursor:pointer;
}

.pre-data
{
    word-break: break-word;
    display: inline-block;
    overflow: auto;
    white-space: pre-wrap;
}

.count-btn {
        color: #FFF!important;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    background-image: none!important;
    border: 5px solid #FFF;
    border-radius: 0;
    box-shadow: none!important;
    -webkit-transition: background-color .15s, border-color .15s, opacity .15s;
    -o-transition: background-color .15s, border-color .15s, opacity .15s;
    transition: background-color .15s, border-color .15s, opacity .15s;
    vertical-align: middle;
    margin: 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    touch-action: manipulation;
    font-weight: 400;
    text-align: center;    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}